# === Python ===
__pycache__/
*.py[cod]
*$py.class

# === Django ===
db.sqlite3
media/
staticfiles/

# === Virtualenv ===
venv/
.env

# === IDE / OS ===
.idea/
.vscode/
.DS_Store

# === Logs ===
*.log
